.section-header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.dropdown-container {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 300ms ease-in-out;
}

.dropdown-container.show-dropdown {
    grid-template-rows: 1fr;
}

.input-container {
    margin: auto;
    width: 100%;
    overflow: hidden;
}

.input-section-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}

.project-input-container {
    margin: 30px auto;
}
